<link rel="stylesheet" href="/static/css/dashboard.css" media="screen" charset="utf-8">

<div class="header">
  <h1>Compose new push</h1>
  <p>Compose a new alert that will appear in mobile applications</p>
</div>

<div class="input-group">
  <div class="input-group-btn">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Choose app
      <span class="caret"></span>
    </button>

    <ul id="appsDropdown" class="dropdown-menu" aria-labelledby="dropdownMenu1">
    </ul>
  </div><!-- /btn-group -->
  <input disabled type="text" id="appTitleField" class="form-control" aria-label="...">
</div><!-- /input-group -->


<div class="input-group" style="display: none;">
  <span class="input-group-addon" id="sizing-addon2">App ID</span>
  <input type="text" id="appIdField" class="form-control" aria-label="...">
</div><!-- /input-group -->

<form class="pushForm">
  <h2>Query:</h2>
  <div id="queryControl">
    <button onclick="removeQueryField();" class="btn btn-default" type="button" aria-haspopup="true" aria-expanded="true">
      Remove Query Field
    </button>

    <button onclick="addQueryField();" class="btn btn-default" type="button" aria-haspopup="true" aria-expanded="true">
      Add Query Field
    </button>

    <button onclick="refreshQueryAudience();" class="btn btn-default" type="button" aria-haspopup="true" aria-expanded="true">
      <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
    </button>
  </div>
  <div class="queryForm">
    <h2 class='queryAll'>All</h2>
  </div><!-- /.queryForm -->
  <h3 class="expectedAudience">Expected audience size: unknown</h3>
  <h2>Payload:</h2>
  <div id="payloadControl">
    <button onclick="removePayloadField();" class="btn btn-default" type="button" aria-haspopup="true" aria-expanded="true">
      Remove Payload Field
    </button>

    <button onclick="addPayloadField();" class="btn btn-default" type="button" aria-haspopup="true" aria-expanded="true">
      Add Payload Field
    </button>
  </div>
  <div class="payloadForm">
    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon2">Alert*</span>
      <input type="text" id="payloadAlert" class="form-control" aria-label="...">
    </div><!-- /input-group -->
  </div><!-- /.payloadForm -->
  <div id="dashboardBottom">
    <button onclick="fireTheIonCannon();" class="btn btn-default btn-lg" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Fire the push away!
    </button>
  </div>
  <p>* = required fields
</form>
<script src="/static/js/dashboard.js" charset="utf-8"></script>
