<link rel="stylesheet" href="/static/css/dashboard.css" media="screen" charset="utf-8">

<!-- <div class="header">
  <h1>Compose new push</h1>
  <p>Compose a new alert that will appear in mobile applications</p>
</div> -->

<div class="input-group">
  <div class="input-group-btn">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Choose app
      <span class="caret"></span>
    </button>

    <ul id="appsDropdown" class="dropdown-menu" aria-labelledby="dropdownMenu1">
    </ul>
  </div><!-- /btn-group -->
  <input disabled type="text" id="appTitleField" class="form-control" aria-label="...">
</div><!-- /input-group -->


<div class="input-group" style="display: none;">
  <span class="input-group-addon" id="sizing-addon2">App ID</span>
  <input type="text" id="appIdField" class="form-control" aria-label="...">
</div><!-- /input-group -->

<h3> Production environment: </h3>
<input id="isProduction" type="checkbox" class="js-switch" checked />

<form class="pushForm">
  <h2>Query:</h2>

  <div class="queryEditor">
    <textarea class="queryEditorTextArea"></textarea>
  </div>

  <h3 class="expectedAudience">Expected audience size: unknown</h3>
  <h2>Payload:</h2>

  <div class="payloadEditor">
    <textarea class="payloadEditorTextArea"></textarea>
  </div>

  <div id="dashboardBottom">
    <button onclick="fireTheIonCannon();" class="btn btn-default btn-lg" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Fire the push away!
    </button>
  </div>
  <p>* = required fields
</form>
<script src="/static/js/dashboard.js" charset="utf-8"></script>
