<link rel="stylesheet" href="/static/css/signin.css" media="screen" charset="utf-8">
<h1 style="width: 100%; text-align: center">Low Orbit Push Cannon</h1>
<form class="form-signin">
  <h2 class="form-signin-heading">Please sign in</h2>
  <label for="inputUsername" class="sr-only">Username</label>
  <input type="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
</form>
